# global
.*.swp

# Back
venv
__pycache__/
*.db
.env
/api/data

# Front
*.iml
.gradle
local.properties
/front/.idea/caches
/front/.idea/libraries
/front/.idea/modules.xml
/front/.idea/workspace.xml
/front/.idea/navEditor.xml
/front/.idea/assetWizardSettings.xml
.DS_Store
/front/build
/front/captures
.externalNativeBuild
.cxx
local.properties

/front/app/build

/front/.idea/shelf/
/front/.idea/workspace.xml
